ENV=development
PROJECT_NAME=FounderHQ-API
VERSION=1.0.0
DEBUG=true
PORT=8000
HOST=0.0.0.0

CORS_ORIGINS=["http://localhost:3000"]

FIREBASE_PROJECT_ID=mock-project-id
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@mock-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n"

JWT_SECRET_KEY=super-secret-development-jwt-key-min-32-chars-long
